body {
    padding: 10px;
    font-family: 'Roboto Flex', sans-serif;
    text-align: center;
    background-image: url(/img/bg.jpg);
    background-size:cover;
}

#header{
    text-align: center;
    font-size: 2em;
    text-decoration: underline;
}

.container {
    min-width: 280px;
    max-width: 450px;
    background-color: #fff;
    height: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden;
}

.rules{
    height: 420px;
}

.rules_after {
    margin-top: -300px;
    height: 300px;
    opacity: 0%;
    transition: 1s;
}

.question{
    height: 420px;
}

.question_after {
    margin-top: -300px;
    height: 300px;
    opacity: 0%;
    transition: 1s;
}

.questionheader{
    text-align: center;
    font-size: 1.5em;
}

#heading{
    font-size: 1.5em;
}

.button { 
    width: 150px;
    text-align: center;
    padding: 10px 20px;
    margin: 0 auto;
    background-color: #ffccbb;
    transition: 0.3s ease-out;
    border: none;
    border-radius: 20px;
}

.button:hover {
    background-color: #2dc2a7;
    transition: 0.3s ease-in;
}
.form{
    margin: 0 auto;
}
.label{
    width: 150px;
    margin: 2px auto;
    display: block;
}

.input{
    width: 150px;
    margin: 2px;
    border: 1px solid #333333;
    text-align: center;
}

.createplayer_after {
    margin-top: -300px;
    height: 300px;
    opacity: 0%;
    transition: 1s;
}

.alt{
    width: 200px;
    margin: 10px auto;
    background-color: #c1c1c1;
    border: 1px solid #333333;
    padding: 5px 10px;
}

#questionplaceholder{
    padding-top: 20px;
    height: 200px;
    margin-top: -200px;
    text-align: center;
}

#scores{
    margin: auto;
    margin-top: 70px;
    text-align: center;
    width: 400px;
}

#scorestable{
    width: 100%;
    margin: 0 auto;
}

#info{
    text-align: center;
    margin: -80px auto;
    min-width: 200px;
    max-width: 300px;
    height: 30px;
}

h1{
    font-size: 3em;
    margin: 0px;
    line-height: -50%;
    border: 1px solid #ffccbb;
}