
body {
    background-color: aliceblue;
    padding: 50px;
}

#game-container {
    width: 500px;
    min-height: 300px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 20px;
}

.button { 
    padding: 5px 10px;
    margin: 5px 10px;
    background-color: #e1e1e1;
}

.buttonsel {
    background-color: beige;
    transition: 1s;
}